---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me";

const identity = {
	firstName: "John",
	country: "USA",
	occupation: "Fire fighter",
	hobbies: ["music", "photography", "cricket"]
};

const skills = ["HTML", "SQL", "Javascript", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 4;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>

	<p>Here are some of the fun facts about me</p>

	<ul>
		<li>My name is {identity.firstName}</li>
		<li> I live in {identity.country}</li>
		{
			identity.hobbies.length >= 2 && 
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>

	<p>Skills</p>
	<ul>
		{skills.map( skill => (<li class="skill">{skill}</li>) )}
	</ul>

	{happy && <p>I am happy to be learning astro.</p>}

	{finished && <p>I finished this tutorial.</p>}

	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

</BaseLayout>

<!-- <html lang="en">
	<head>
		
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	
</html> -->
