---
const pageTitle = "About me";

const identity = {
	firstName: "John",
	country: "USA",
	occupation: "Fire fighter",
	hobbies: ["music", "photography", "cricket"]
};

const skills = ["HTML", "SQL", "Javascript", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 4;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>About</h1>
		<h2>{pageTitle}</h2>

		<p>Here are some of the fun facts about me</p>

		<ul>
			<li>My name is {identity.firstName}</li>
			<li> I live in {identity.country}</li>
			{
				identity.hobbies.length >= 2 && 
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
		</ul>

		<p>Skills</p>
		<ul>
			{skills.map( skill => (<li>{skill}</li>) )}
		</ul>

		{happy && <p>I am happy to be learning astro.</p>}

		{finished && <p>I finished this tutorial.</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
